<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database Connection Details Start -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_test</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <!-- Database Connection Details Start -->
        
        <!-- JDBC Connection Pool size -->
        <property name="connection.pool_size">2</property>
        
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
        
        <!-- Disable second level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL on console  -->
        <property name="show_sql">true</property>
        
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Name of the annotated entity class -->
        <mapping class="com.example.model.UserDetails"/>
	</session-factory>
</hibernate-configuration>